/* variables defaults */
$button-c: #fff;
$button-bgc: #aaa;
$button-maw: 15rem;
$button-r: 3px;
$button-borc: $button-bgc;

/* variables project */


/* defaults */
.button {
  display: block;
  width: 100%;
  max-width: $button-maw;
  white-space: nowrap;
  color: $button-c;
  background-color: $button-bgc;
  text-decoration: none;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  text-align: center;
  border-radius: $button-r;
  border: 1px solid $button-borc;
  cursor: pointer;
  line-height: 1;
  outline: none;

  &:hover {
    text-decoration: none;
    color: $button-c;
    background-color: darken($button-bgc, 10%);
    border-color: darken($button-borc, 10%);
  }

  &:focus {
    text-decoration: none;
    outline: none;
    border-color: darken($button-borc, 10%);
  }

  &--ripple {
    position: relative;
    overflow: hidden;
  }

  &__effect {
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    background: #fff;
    animation: ripple-animation 2s;
    opacity: 0;
  }
}

@keyframes ripple-animation {
  from {
    transform: scale(1);
    opacity: 0.1;
  }
  to {
    transform: scale(100);
    opacity: 0;
  }
}
