//- defaults
mixin page__upgrade
  |
  <!--[if lte IE 9]>
  .page__upgrade Вы используете #[strong устаревший] браузер. Пожалуйста, #[a(href="https://browsehappy.com/",target="_blank") обновите ваш браузер] для корректного отображения сайта.
  <![endif]-->

mixin page__header
  header.page__header
    section.page__section
      .page__cont
        .flex.flex--gap-0_5.flex--vcenter
          .flex__item.flex__item--2
            a(href="#")
              img(data-src="holder.js/200x50?auto=yes&text=LOGO", alt="")
          .flex__item.flex__item--8
            +menu({name:'Новости', href:'/article.html'},{name:'О компании', href:'/article.html'},{name:'Контакты', href:'/article.html'}).menu--center
          .flex__item.flex__item--2.text-right
            address address

mixin page__main
  main.page__main
    block

mixin page__footer
  footer.page__footer
    section.page__section
      .page__cont
        .flex.flex--gap-0_5.flex--vcenter
          .flex__item.flex__item--10
            p &copy; copyright
            p: a(href="#") Политика обработки данных
            p: a(href="#") ﻿Создание сайтов в Новосибирске: студия дизайна Вадима Гончарова
          .flex__item.flex__item--2.text-right.text-1_5
            a.display-ib.margin-l-0_5(href="#"): +icon('vk')
            a.display-ib.margin-l-0_5(href="#"): +icon('fb')
            a.display-ib.margin-l-0_5(href="#"): +icon('in')

mixin page__message
  .page__message
    .text-center.text-0_875
      p Для вашего удобства мы используем cookies и другие метаданные. Если вы не согласны c этой #[a(href="#", target="_blank") политикой], можете покинуть сайт.
    a.button.js-agree(href="#") Согласен

mixin page__nav
  .page__nav.drawer-nav
    section.page__section
      .page__cont
        +menu({name:'Новости', href:'/article.html'},{name:'О компании', href:'/article.html'},{name:'Контакты', href:'/article.html'})(class="menu--vert")

//- project
