/* variables defaults */
$page-bgc: #fff;
$page-miw: 320px;
$page__header-bgc: #ddd;
$page__footer-bgc: #ccc;
$page__cont-w: 1600px;

/* variables project */


/* defaults */
.page {
  min-width: $page-miw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: $page-bgc;

  &__upgrade {
    background: #ccc;
    color: #000;
    padding: 0.25rem;
  }

  &__logo {
    display: inline-block;
    max-width: 100%;

    img {
      max-width: 100%;
    }
  }

  &__header {
    position: relative;
    background-color: $page__header-bgc;
  }

  &__main {
    position: relative;
    flex-grow: 1;
  }

  &__footer {
    position: relative;
    background-color: $page__footer-bgc;
  }

  &__section {
    position: relative;

    &::before,
    &::after {
      content: " ";
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  &__cont {
    margin: 0 auto;
    width: $page__cont-w;
    max-width: 100%;
    padding: 0 4rem;

    &--fluid {
      width: auto;
    }

    @include bp($bp-md) {
      padding: 0 2rem;
    }

    @include bp($bp-xs) {
      padding: 0 1rem;
    }
  }

  &__message {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 9999;
    width: 20rem;
    background-color: $page-bgc;
    padding: 1rem 2rem 2rem;
    box-shadow: -2px -2px 1rem -2px rgba(0,0,0,.5);

    &--visible {
      display: block;
    }
  }
}

/* project */
