include ../main.pug

//- page content
+head('index')
  +page__upgrade
  
  +page__nav
  
  +page__header
  
  +page__main
      
    section.page__section
      .page__cont
        +article
          
  +page__footer
  
  +page__message
