/* variables defaults */
$page-w: 800px;
$mark-1-bgc: #eee;
$mark-2-bgc: #444;
$table-border-c: #ccc;

/* variables project */


/* defaults */
.article {
  max-width: $page-w;
  margin: 0 auto;

  .mark-1 {
    margin: 1rem -2rem;
    padding: 0.5rem 2rem;
    background-color: $mark-1-bgc;
  }

  .mark-2 {
    margin: 1rem 0;
    padding: 0.5rem 1rem;
    background-color: $mark-2-bgc;
    color: #fff;

    a,
    h1,
    h2,
    h3,
    h4 {
      color: inherit;
    }

    a {
      text-decoration: underline;
    }
  }

  .mark-3 {
    margin: 2rem 4rem;
    padding: 0 2rem;
    border-top: 2px solid;
    border-bottom: 2px solid;
    font-size: 1.25em;
  }

  .img-left {
    float: left;
    margin: 0.25rem 1rem 0.25rem 0;
    max-width: 40%;
  }

  .img-right {
    float: right;
    margin: 0.25rem 0 0.25rem 1rem;
    max-width: 40%;
  }

  &__col {
    clear: both;
    display: flex;
    margin: 0 -1rem;
  }

  &__item {
    flex-grow: 1;
    margin: 0 1rem;
    width: 100%;
  }

  &__mobile {
    display: none;
  }

  img {
    max-width: 100%;
  }

  ul,
  ol {
    margin: 0.75rem 0;
    list-style: none;
    padding: 0;
    clear: both;

    li {
      position: relative;
      margin: 0.25rem 0;
      padding: 0 0 0 2.25rem;

      &::before {
        content: '';
        display: block;
        position: absolute;
        top: 0;
        left: 0;
      }
    }
  }

  ul {
    li {
      &::before {
        top: 0.5em;
        left: 1.25rem;
        width: 0.5rem;
        height: 0.5rem;
        border-radius: 50%;
        background-color: currentColor;
      }
    }
  }

  ol {
    li {
      counter-increment: item;

      &:before {
        content: counter(item)'.';
        width: 2rem;
        font-weight: bold;
        text-align: right;
      }
    }
  }

  table {
    width: 100%;
    margin: 1rem 0;
    font-size: 0.875em;
    clear: both;

    tr {
      &:nth-child(2n) {

      }
    }

    th,
    td {
      padding: 0.5rem 1rem;
      border: 1px solid $table-border-c;
    }

    &.table-noborder {
      th,
      td {
        border-color: transparent;
      }
    }

    &.table-lines {
      tr {
        background-color: #fff;

        &:nth-child(2n) {
          background-color: #ccc;
        }
      }

      th,
      td {
        border-color: transparent;
      }
    }
  }

  @include bp($bp-xs) {
    .img-left,
    .img-right {
      display: block;
      float: none;
      max-width: 100%;
      margin: 1rem auto;
    }

    &__desktop {
      display: none;
    }

    &__mobile {
      display: block;
    }

    &__col {
      flex-wrap: wrap;
    }

    .mark-1 {
      margin: 1rem -1rem;
      padding: 0.5rem 1rem;
    }

    .mark-3 {
      margin: 2rem -1rem;
      padding: 0 1rem;
    }
  }
}

/* project */
