mixin article
  article.article
    h1 Заголовок уровень 1
    h2 Заголовок уровень 2
    h3 Заголовок уровень 3
    h4 Заголовок уровень 4
    p Символизм, в том числе, квантуем. #[a(href="#") Трагическое испускает] самодостаточный электрон, таким образом, все перечисленные признаки архетипа и мифа подтверждают, что действие механизмов мифотворчества сродни механизмам художественно-продуктивного мышления. Магнит, в том числе, отталкивает лазер. Зеркало кумулятивно.
    hr/
    p Примесь трансформирует гений. Теоретическая #[img.img-left(data-src="holder.js/300x200?auto=yes")] социология имитирует сангвиник. Электрон интуитивно понятен. Если предварительно подвергнуть объекты длительному вакуумированию, то художественное переживание монотонно аккумулирует спиральный диахронический подход.
    p Интеллигенция, по определению, излучает элементарный резонатор почти так же, как в резонаторе газового лазера. Дискредитация теории катарсиса, в первом приближении, трансформирует магнит. Феномер "психической мутации" монотонно заряжает фарс, однако само по себе состояние игры всегда амбивалентно.
    p Под воздействием переменного напряжения ударная волна вращает определенный электрон. Колебание, так или иначе, имеет незначительный художественный идеал. Пульсар образует фактографический взрыв. Инвариант, как того требуют законы термодинамики, вращает экзотермический символический метафоризм. Эдипов комплекс имитирует героический миф. Диалогичность отталкивает конструктивный объект, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации.
    p Расслоение отражает вихревой фронт. #[img.img-right(data-src="holder.js/250x250?auto=yes")] В соответствии с принципом неопределенности, струя синфазно переворачивает расширяющийся маньеризм. Иными словами, игровое начало излучает хтонический миф.
    p Изолируя область наблюдения от посторонних шумов, мы сразу увидим, что бессознательное иллюстрирует постмодернизм. Биографический метод индуцирует биографический метод. Игровое начало, несмотря на внешние воздействия, испускает экранированный лазер. Аполлоновское начало, несмотря на внешние воздействия, имеет суггестивный взрыв. Его экзистенциальная тоска выступает как побудительный мотив творчества, однако течение среды изящно образует экситон, подобный исследовательский подход к проблемам художественной типологии можно обнаружить у К.Фосслера.
    .mark-1
      p Согласно теории "вчувствования", разработанной Теодором Липпсом, погранслой квантуем. Целое образа упруго диссонирует газ. Атом квантуем. Если для простоты пренебречь потерями на теплопроводность, то видно, что нивелирование индивидуальности тормозит плоскополяризованный фонон, именно об этом комплексе движущих сил писал З.Фрейд в теории сублимации. В слабопеременных полях (при флуктуациях на уровне единиц процентов) феномер "психической мутации" вызывает лазер.
    .mark-2
      p Галактика принципиально неизмерима. Художественный идеал органичен. #[a(href="#") Трагическое испускает] Излучение бифокально трансформирует элитарный кварк. Поток квазипериодично переворачивает декаданс. Химическое соединение монотонно стабилизирует квант.
    .mark-3
      p Канон, так или иначе, образует конструктивный фронт, таким образом, сходные законы контрастирующего развития характерны и для процессов в психике.
    p Социально-психологический фактор по определению иллюстрирует канон биографии. Дискредитация теории катарсиса, так или иначе, изотермично начинает лазер. В соответствии с принципом неопределенности, метод кластерного анализа концентрирует синтез искусств.
    ul
      li list-item 1
      li list-item 1
      li list-item 1
      li list-item 1
    ol
      li list-item 2
      li list-item 2
      li list-item 2
      li list-item 2
    table
      tr
        th table header
        th table header
        th table header
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et officia, quos, non eaque aliquam architecto repellendus dolores laboriosam reprehenderit at, voluptas vel voluptates! Nobis aut officia aspernatur laborum
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et officia, quos, non eaque aliquam architecto repellendus dolores laboriosam reprehenderit at, voluptas vel voluptates! Nobis aut officia aspernatur laborum
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et officia, quos, non eaque aliquam architecto repellendus dolores laboriosam reprehenderit at, voluptas vel voluptates! Nobis aut officia aspernatur laborum
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et voluptas vel voluptates! Nobis aut officia aspernatur laborum
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et voluptas vel voluptates! Nobis aut officia aspernatur laborum
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et voluptas vel voluptates! Nobis aut officia aspernatur laborum
      tr
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et voluptas vel voluptates! Nobis aut officia aspernatur laborum
        td Lorem ipsum dolor sit amet, consectetur adipisicing elit. Error vero, et officia, quos, non eaque aliquam architecto repellendus dolores laboriosam reprehenderit at, voluptas vel voluptates! Nobis aut officia aspernatur laborum
        td Lasdfasdf
      tr
        td Lorem ipsum dolor sit amet, conicia aspernatur laborum
        td Lorem ipsum dolor sit Nobis aut officia aspernatur laborum
        td Lasdfasdf
      tr
        td Lorem ipsum dolor sit amet, conicia aspernatur laborum
        td Lorem ipsum dolor sit Nobis aut officia aspernatur laborum
        td Lasdfasdf
      tr
        td Lorem ipsum dolor sit amet, conicia aspernatur laborum
        td Lorem ipsum dolor sit Nobis aut officia aspernatur laborum
        td Lasdfasdf
      tr
        td Lorem ipsum dolor sit amet, conicia aspernatur laborum
        td Lorem ipsum dolor sit Nobis aut officia aspernatur laborum
        td Lasdfasdf
      tr
        td Lorem ipsum dolor sit amet, conicia aspernatur laborum
        td Lorem ipsum dolor sit Nobis aut officia aspernatur laborum
        td Lasdfasdf
    
  +swiper--carousel.margin-t-2.margin-b-2
    
