.icon {
  width: 1em;
  height: 1em;
  display: inline-block;
  fill: currentcolor;
  fill-rule: evenodd;

  &--draw {
    fill-opacity: 0;
    stroke: currentcolor;
    stroke-width: 1;
    stroke-dasharray: 300px;
    stroke-dashoffset: 300px;
    animation-name: draw-icon;
    animation-duration: 5s;
    animation-fill-mode: forwards;
    animation-iteration-count: 1;
    animation-timing-function: linear;
  }
}

@keyframes draw-icon {
  90% {
    stroke-dashoffset: 0;
    stroke-width: 1;
    fill-opacity: 0;
  }
  100% {
    stroke-width: 0;
    fill-opacity: 1;
  }
}
