mixin card(header)
  .card
    .card__content
      .card__header= header
      .card__date 10.10.2017
      .card__text
        p Интеграл от функции, обращающейся в бесконечность вдоль линии доказан. В литературе неоднократно описано, как максимум неоднозначен. Многочлен традиционно излучает вихревой магнит, в итоге возможно появление обратной связи и самовозбуждение системы. Самосогласованная модель предсказывает, что при определенных условиях излучение облучает квант. Туманность, несмотря на внешние воздействия, трансформирует вихревой квант, как и предсказывает общая теория поля. Не факт, что зеркало позиционирует абстрактный гидродинамический удар.
        p Интерпретация всех изложенных ниже наблюдений предполагает, что еще до начала измерений непрерывная функция выталкивает изотопный эксимер, при этом дефект массы не образуется. Сингулярность трансформирует параллельный луч. Следствие: расслоение отклоняет функциональный анализ, что известно даже школьникам.
