mixin swiper
  .swiper-container&attributes(attributes)
    .swiper-wrapper
      .swiper-slide: img(data-src="holder.js/2560x500?auto=yes")
      .swiper-slide: img(data-src="holder.js/2560x500?auto=yes&theme=lava")
      .swiper-slide: img(data-src="holder.js/2560x500?auto=yes&theme=sky")
      .swiper-slide: img(data-src="holder.js/2560x500?auto=yes&theme=social")
      .swiper-slide: img(data-src="holder.js/2560x500?auto=yes&theme=vine")
      .swiper-slide: img(data-src="holder.js/2560x500?auto=yes&theme=industrial")
    .swiper-pagination
    //- .swiper-button-prev: +icon('ar')
    //- .swiper-button-next: +icon('ar')


//- project
mixin swiper--full
  .swiper.swiper--full&attributes(attributes)
    .swiper-wrapper
      .swiper-slide: +pic(data-src="holder.js/2560x1200?auto=yes&theme=lava")
      .swiper-slide: +pic(data-src="holder.js/2560x1200?auto=yes&theme=sky")
      .swiper-slide: +pic(data-src="holder.js/2560x1200?auto=yes&theme=social")
      .swiper-slide: +pic(data-src="holder.js/2560x1200?auto=yes&theme=vine")
      .swiper-slide: +pic(data-src="holder.js/2560x1200?auto=yes&theme=industrial")
      .swiper-slide: +pic(data-src="holder.js/2560x1200?auto=yes")
    .swiper-pagination
    //- .swiper-button-prev: +icon('ar')
    //- .swiper-button-next: +icon('ar')

mixin swiper--carousel
  .swiper-container.swiper--carousel&attributes(attributes)
    .swiper-wrapper.gal
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=lava")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=sky")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=social")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=vine")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=industrial")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=lava")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=sky")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=social")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=vine")
      a.swiper-slide.gal__item(href="../img/tree.jpg"): img(data-src="holder.js/200x280?auto=yes&theme=industrial")
    .swiper-button-prev: +icon('ar')
    .swiper-button-next: +icon('ar')
