.pag {
  text-align: center;

  &__link {
    display: inline-block;
    text-decoration: none;
    margin: 0 0.25rem;

    &:hover {
      text-decoration: none;
    }

    &.active {
      font-weight: bold;
      font-size: 1.125em;
    }
  }
}
