mixin pag
  .pag&attributes(attributes)
    a.pag__link(href="#") ◀
    a.pag__link(href="#") 1
    | &hellip;
    a.pag__link.active(href="#") 18
    | &hellip;
    a.pag__link(href="#") 100
    a.pag__link(href="#") ▶
      
