$song-bg: $c-border;

.song {
  position: relative;
  border: 1px solid $song-bg;
  margin: 0 auto 1rem;

  padding: 0.5rem;
  overflow: hidden;
  line-height: 1.2;

  &--pic,
  .page--index & {
    max-width: 350px;
  }

  &__progress {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: $song-bg;
  }

  &__play,
  &__pause {
    position: relative;
    display: inline-block;
    font-size: 2em;
    cursor: pointer;
  }

  &__name {
    position: relative;
    font-weight: bold;
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 0.875em;
  }

  &__time {
    position: relative;
    opacity: 0.5;
    font-size: 0.75em;
  }

  &__pic {
    position: relative;
    display: block;
    margin: -0.5rem -0.5rem 0.5rem -0.5rem;

    img {
      max-width: 100%;
    }
  }

  .flex__item--song {
    width: 2.75rem;
  }

  .flex__item--song-wide {
    width: calc(100% - 2.75rem);
  }
}
