mixin song(src, name)
  .song(data-src= src)
    .song__progress
    .flex.flex--nowrap.flex--start.flex--vcenter.flex--gap-0_25
      .flex__item.flex__item--song
        .song__play #[+icon('play2')]
        .song__pause.hidden #[+icon('pause2')]
      .flex__item.flex__item--song-wide
        .song__name #[a(href="#", title=name)= name]
        .song__time
          span.song__seek 0:00 /
          span.song__duration  3:33

mixin song--pic(src, name)
  .song.song--pic(data-src= src)
    .song__progress
    a.song__pic.link-img(href="#") #[img(data-src="holder.js/360x200?auto=yes", alt="")]
    .flex.flex--nowrap.flex--start.flex--vcenter.flex--gap-0_25
      .flex__item.flex__item--song
        .song__play #[+icon('play2')]
        .song__pause.hidden #[+icon('pause2')]
      .flex__item.flex__item--song-wide
        .song__name #[a(href="#", title=name)= name]
        .song__time
          span.song__seek 0:00 /
          span.song__duration  3:33
