/* breakpoints */
$bp-xl: 1600px;
$bp-lg: 1200px;
$bp-md: 992px;
$bp-sm: 768px;
$bp-xs: 576px;

$breakpoints: (xl--, $bp-xl), (lg--, $bp-lg), (md--, $bp-md), (sm--, $bp-sm), (xs--, $bp-xs);

/* colors */
$c-dark: #34333b;
$c-med: #dadada;
$c-light: #e6e6e6;


/* mixins */

// mediaqueries
@mixin bp($width) {
  @media only screen and (max-width: $width) {
    @content;
  }
}

@mixin bph($height) {
  @media only screen and (max-height: $height) {
    @content;
  }
}

// adaptive framework
@mixin adapt($className) {
  .#{$className} {
    @content;
  }
  @each $bpName, $bpValue in $breakpoints {
    @include bp($bpValue) {
      .#{$bpName} {
        &#{$className} {
          @content;
        }
      }
    }
  }
}
