.hidden {
  display: none !important;
}

.invisible {
  visibility: hidden;
}

.clearfix {
  &::before,
  &::after {
    content: " ";
    display: table;
  }

  &::after {
    clear: both;
  }
}

@include adapt(text) {
  &-bold {
    font-weight: bold;
  }

  &-normal {
    font-weight: normal;
  }

  &-tdn {
    text-decoration: none;
  }

  &-0_25 {
    font-size: 0.25em;
  }

  &-0_5 {
    font-size: 0.5em;
  }

  &-0_75 {
    font-size: 0.75em;
  }

  &-0_875 {
    font-size: 0.875em;
  }

  &-1 {
    font-size: 1em;
  }

  &-1_125 {
    font-size: 1.125em;
  }

  &-1_25 {
    font-size: 1.25em;
  }

  &-1_5 {
    font-size: 1.5em;
  }

  &-1_75 {
    font-size: 1.75em;
  }

  &-2 {
    font-size: 2em;
  }

  &-2_5 {
    font-size: 2.5em;
  }

  &-3 {
    font-size: 3em;
  }

  &-4 {
    font-size: 4em;
  }

  &-left {
    text-align: left;
  }

  &-center {
    text-align: center;
  }

  &-right {
    text-align: right;
  }

  &-up {
    text-transform: uppercase;
  }

  &-low {
    text-transform: lowercase;
  }
}

@include adapt(display) {
  &-b {
    display: block;
  }

  &-i {
    display: inline;
  }

  &-ib {
    display: inline-block;
  }

  &-f {
    display: flex;
  }

  &-n {
    display: none;
  }
}

@include adapt(margin) {
  &-0 {
    margin: 0;
  }

  &-0_25 {
    margin: 0.25rem;
  }

  &-0_5 {
    margin: 0.5rem;
  }

  &-1 {
    margin: 1rem;
  }

  &-2 {
    margin: 2rem;
  }

  &-3 {
    margin: 3rem;
  }

  &-4 {
    margin: 4rem;
  }

  &-t-0 {
    margin-top: 0;
  }

  &-t-0_25 {
    margin-top: 0.25rem;
  }

  &-t-0_5 {
    margin-top: 0.5rem;
  }

  &-t-1 {
    margin-top: 1rem;
  }

  &-t-2 {
    margin-top: 2rem;
  }

  &-t-3 {
    margin-top: 3rem;
  }

  &-t-4 {
    margin-top: 4rem;
  }

  &-b-0 {
    margin-bottom: 0;
  }

  &-b-0_25 {
    margin-bottom: 0.25rem;
  }

  &-b-0_5 {
    margin-bottom: 0.5rem;
  }

  &-b-1 {
    margin-bottom: 1rem;
  }

  &-b-2 {
    margin-bottom: 2rem;
  }

  &-b-3 {
    margin-bottom: 3rem;
  }

  &-b-4 {
    margin-bottom: 4rem;
  }

  &-l-0 {
    margin-left: 0;
  }

  &-l-0_25 {
    margin-left: 0.25rem;
  }

  &-l-0_5 {
    margin-left: 0.5rem;
  }

  &-l-1 {
    margin-left: 1rem;
  }

  &-l-2 {
    margin-left: 2rem;
  }

  &-l-3 {
    margin-left: 3rem;
  }

  &-l-4 {
    margin-left: 4rem;
  }

  &-r-0 {
    margin-right: 0;
  }

  &-r-0_25 {
    margin-right: 0.25rem;
  }

  &-r-0_5 {
    margin-right: 0.5rem;
  }

  &-r-1 {
    margin-right: 1rem;
  }

  &-r-2 {
    margin-right: 2rem;
  }

  &-r-3 {
    margin-right: 3rem;
  }

  &-r-4 {
    margin-right: 4rem;
  }

  // minus

  &--0_25 {
    margin: -0.25rem;
  }

  &--0_5 {
    margin: -0.5rem;
  }

  &--1 {
    margin: -1rem;
  }

  &--2 {
    margin: -2rem;
  }

  &--3 {
    margin: -3rem;
  }

  &--4 {
    margin: -4rem;
  }

  &-t--0_25 {
    margin-top: -0.25rem;
  }

  &-t--0_5 {
    margin-top: -0.5rem;
  }

  &-t--1 {
    margin-top: 1rem;
  }

  &-t--2 {
    margin-top: -2rem;
  }

  &-t--3 {
    margin-top: -3rem;
  }

  &-t--4 {
    margin-top: -4rem;
  }

  &-b--0_25 {
    margin-bottom: -0.25rem;
  }

  &-b--0_5 {
    margin-bottom: -0.5rem;
  }

  &-b--1 {
    margin-bottom: -1rem;
  }

  &-b--2 {
    margin-bottom: -2rem;
  }

  &-b--3 {
    margin-bottom: -3rem;
  }

  &-b--4 {
    margin-bottom: -4rem;
  }

  &-l--0_25 {
    margin-left: -0.25rem;
  }

  &-l--0_5 {
    margin-left: -0.5rem;
  }

  &-l--1 {
    margin-left: -1rem;
  }

  &-l--2 {
    margin-left: -2rem;
  }

  &-l--3 {
    margin-left: -3rem;
  }

  &-l--4 {
    margin-left: -4rem;
  }

  &-r--0_25 {
    margin-right: -0.25rem;
  }

  &-r--0_5 {
    margin-right: -0.5rem;
  }

  &-r--1 {
    margin-right: -1rem;
  }

  &-r--2 {
    margin-right: -2rem;
  }

  &-r--3 {
    margin-right: -3rem;
  }

  &-r--4 {
    margin-right: -4rem;
  }
}

@include adapt(padding) {
  &-0 {
    padding: 0;
  }

  &-0_25 {
    padding: 0.25rem;
  }

  &-0_5 {
    padding: 0.5rem;
  }

  &-1 {
    padding: 1rem;
  }

  &-2 {
    padding: 2rem;
  }

  &-3 {
    padding: 3rem;
  }

  &-4 {
    padding: 4rem;
  }

  &-t-0 {
    padding-top: 0;
  }

  &-t-0_25 {
    padding-top: 0.25rem;
  }

  &-t-0_5 {
    padding-top: 0.5rem;
  }

  &-t-1 {
    padding-top: 1rem;
  }

  &-t-2 {
    padding-top: 2rem;
  }

  &-t-3 {
    padding-top: 3rem;
  }

  &-t-4 {
    padding-top: 4rem;
  }

  &-b-0 {
    padding-bottom: 0;
  }

  &-b-0_25 {
    padding-bottom: 0.25rem;
  }

  &-b-0_5 {
    padding-bottom: 0.5rem;
  }

  &-b-1 {
    padding-bottom: 1rem;
  }

  &-b-2 {
    padding-bottom: 2rem;
  }

  &-b-3 {
    padding-bottom: 3rem;
  }

  &-b-4 {
    padding-bottom: 4rem;
  }

  &-l-0 {
    padding-left: 0;
  }

  &-l-0_25 {
    padding-left: 0.25rem;
  }

  &-l-0_5 {
    padding-left: 0.5rem;
  }

  &-l-1 {
    padding-left: 1rem;
  }

  &-l-2 {
    padding-left: 2rem;
  }

  &-l-3 {
    padding-left: 3rem;
  }

  &-l-4 {
    padding-left: 4rem;
  }

  &-r-0 {
    padding-right: 0;
  }

  &-r-0_25 {
    padding-right: 0.25rem;
  }

  &-r-0_5 {
    padding-right: 0.5rem;
  }

  &-r-1 {
    padding-right: 1rem;
  }

  &-r-2 {
    padding-right: 2rem;
  }

  &-r-3 {
    padding-right: 3rem;
  }

  &-r-4 {
    padding-right: 4rem;
  }
}

/* project */

// mfp
.mfp-figure {
  position: relative;
}

.mfp-title {
  position: absolute;
  left: 0;
  bottom: 4px;
  width: 100%;
  padding: 1rem 2rem;
  background-color: rgba(#000, 0.5);
  font-size: 0.875em;
  line-height: $mainlh;

  &:empty {
    display: none;
  }
}

.mfp-wrap {
  .mfp-container {
    opacity: 0;
    transition: all 0.2s;
    transform: translateY(-50px);
  }

  &.mfp-ready {
    .mfp-container {
      opacity: 1;
      transform: translateY(0);
    }
  }

  &.mfp-removing {
    .mfp-container {
      transform: translateY(-20px);
      opacity: 0;
    }
  }
}

.mfp-bg {
  opacity: 0;
  transition: all 0.3s ease-in-out;

  &.mfp-ready {
    opacity: 0.8;
  }

  &.mfp-removing {
    opacity: 0;
  }
}


.grid {
  &__sizer {
    width: 33.3333%;
  }
}
.js-shuffle-

.js-item {
  width: 33.3333%;
  float: left;
  // width: 200px;
}

.js-filter {
  &.active {
    background-color: #444;
  }
}

.doc {
  display: inline-block;
  vertical-align: top;
  margin: 0 0.5rem 1rem 0;
  text-align: center;

  &__header {
    margin: 0;

  }

  &__caption {
    display: block;
  }

  &__link {
    display: block;
  }
}
