/* variables defaults */
$main-c: #222;
$main-ff: 'Open Sans', Arial, Helvetica, sans-serif;
$mainlh: 1.5;

$selection-bgc: #b3d4fc;

$hr-c: #ccc;

$header-c: $main-c;
$header-ff: $main-ff;
$header-lh: 1.2;
$header-fw: bold;
$header-center: false;
$header-up: false;

$link-c: #007bff;
$link-h: #0056b3;
$link-u: false;

/* variables project */

/* defaults */
html {
  color: $main-c;
  font-family: $main-ff;
  font-size: 1em;
  line-height: $mainlh;
  transition: font-size 0.5s ease-in-out;

  @include bp($bp-md) {
    font-size: 0.875em;
  }

  @include bp($bp-xs) {
    font-size: 0.75em;
  }
}

::-moz-selection {
  background: $selection-bgc;
  text-shadow: none;
}

::selection {
  background: $selection-bgc;
  text-shadow: none;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid $hr-c;
  margin: 1rem 0;
  padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

textarea {
  resize: vertical;
}

* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

h1,
h2,
h3,
h4 {
  margin: 2rem 0 1rem;
  color: $header-c;
  font-family: $header-ff;
  line-height: $header-lh;
  font-weight: $header-fw;
  @if $header-center {
    text-align: center;
  }
  @if $header-up {
    text-transform: uppercase;
  }
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

p,
pre {
  margin: 1rem 0;
}

a {
  color: $link-c;

  @if $link-u {
    text-decoration: underline;
  }
  @else {
    text-decoration: none;
  }

  &:hover {
    color: $link-h;
    text-decoration: underline;
  }
}

table {
  border-collapse: collapse;
}

/* project */
h1 {
  font-size: 3em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.25em;
}
