.caption {
  position: relative;
  display: block;
  overflow: hidden;
  background-color: #000;

  &__img {
    transition: transform 0.5s ease-in-out
  }

  &__date {
    opacity: 0.5;
    font-size: 0.75em;
  }


  &--left {
    .caption__hover {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
      transform: translate(-30%, 0);
      opacity: 0.5;
      transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    }

    .caption__text {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      color: #fff;
      padding: 2rem;

      a {
        color: inherit;
      }
    }

    &:hover {
      .caption__img {
        transform: translate(100%, 0);
      }
      .caption__hover {
        transform: translate(0, 0);
        opacity: 1;
      }
    }
  }

  &--cat {
    .caption__hover {
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      min-height: 0;
      background-color: rgba(#000, 0.25);
      padding: 1rem 2rem;
      color: #fff;
      transition: min-height 0.4s ease-in-out, background-color 0.4s ease-in-out;

      a {
        color: inherit;
      }
    }

    .caption__header {
      color: inherit;
      margin: 0;
    }

    .caption__text {
      height: 0;
      opacity: 0;
      font-size: 0.875em;
      transition: opacity 0.2s ease-in-out;
    }

    &:hover {
      .caption__hover {
        background-color: rgba(#000, 0.5);
      }

      .caption__img {
        transform: scale(1.25);
      }
      .caption__hover {
        min-height: 100%;
      }

      .caption__text {
        opacity: 1;
        transition: opacity 0.6s ease-in-out;
      }
    }
  }
}
