mixin caption(...items)
  .caption.caption--left&attributes(attributes)
    .caption__hover
      +pic(data-src="holder.js/750x300?auto=yes&theme=social&text=%20")
      .caption__text
        each item in items
          a(href=item.href)= item.name
    .caption__img: +pic(data-src="holder.js/600x300?auto=yes")

mixin caption--cat(header, href)
  a(href= href).caption.caption--cat&attributes(attributes)
    .caption__img: +pic(data-src="holder.js/600x300?auto=yes&theme=vine")
    .caption__hover
      h3.caption__header= header
      .caption__text
        p Метод последовательных приближений нетривиален. Однако не все знают, что предел последовательности испускает аксиоматичный эксимер.
        p Луч нормально распределен. Колебание, несмотря на внешние воздействия, непрерывно. Силовое поле создает межатомный кварк. Сверхпроводник испускает тригонометрический критерий интегрируемости.
        
mixin caption--news(header, href)
  a(href= href).caption.caption--cat&attributes(attributes)
    .caption__img: +pic(data-src="holder.js/600x300?auto=yes&theme=social")
    .caption__hover
      h3.caption__header= header
      .caption__date 01.01.2017
      .caption__text
        p Полином выталкивает расширяющийся Наибольший Общий Делитель (НОД). Турбулентность гомогенно отталкивает экранированный интеграл по ориентированной области.
