@mixin flex() {
  display: flex;
  flex-wrap: wrap;

  &--nowrap {
    flex-wrap: nowrap;
  }

  &--col {
    flex-direction: column;
  }

  &--col-rev {
    flex-direction: column-reverse;
  }

  &--row {
    flex-direction: row;
  }

  &--row-rev {
    flex-direction: row-reverse;
  }

  &--start {
    justify-content: flex-start;
  }

  &--end {
    justify-content: flex-end;
  }

  &--around {
    justify-content: space-around;
  }

  &--between {
    justify-content: space-between;
  }

  &--center {
    justify-content: center;
  }

  &--vstart {
    align-items: flex-start;
  }

  &--vend {
    align-items: flex-end;
  }

  &--vcenter {
    align-items: center;
  }

  &--gap-0_25 {
    margin-left: -0.25rem;
    margin-right: -0.25rem;

    &>.flex__item {
      padding-left: 0.25rem;
      padding-right: 0.25rem;
    }
  }

  &--gap-0_5 {
    margin-left: -0.5rem;
    margin-right: -0.5rem;

    &>.flex__item {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
  }

  &--gap-1 {
    margin-left: -1rem;
    margin-right: -1rem;

    &>.flex__item {
      padding-left: 1rem;
      padding-right: 1rem;
    }
  }

  &--gap-2 {
    margin-left: -2rem;
    margin-right: -2rem;

    &>.flex__item {
      padding-left: 2rem;
      padding-right: 2rem;
    }
  }

  &--gap-3 {
    margin-left: -3rem;
    margin-right: -3rem;

    &>.flex__item {
      padding-left: 3rem;
      padding-right: 3rem;
    }
  }

  &--gap-4 {
    margin-left: -4rem;
    margin-right: -4rem;

    &>.flex__item {
      padding-left: 4rem;
      padding-right: 4rem;
    }
  }

  &--vgap-0_25 {
    margin-top: -0.25rem;
    margin-bottom: -0.25rem;

    &>.flex__item {
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
    }
  }

  &--vgap-0_5 {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;

    &>.flex__item {
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }

  &--vgap-1 {
    margin-top: -1rem;
    margin-bottom: -1rem;

    &>.flex__item {
      padding-top: 1rem;
      padding-bottom: 1rem;
    }
  }

  &--vgap-2 {
    margin-top: -2rem;
    margin-bottom: -2rem;

    &>.flex__item {
      padding-top: 2rem;
      padding-bottom: 2rem;
    }
  }

  &--vgap-3 {
    margin-top: -3rem;
    margin-bottom: -3rem;

    &>.flex__item {
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  }

  &--vgap-4 {
    margin-top: -4rem;
    margin-bottom: -4rem;

    &>.flex__item {
      padding-top: 4rem;
      padding-bottom: 4rem;
    }
  }
}

@mixin flex__item() {
  &--wide {
    flex-grow: 1;
  }

  &--start {
    order: -100;
  }

  &--end {
    order: 100;
  }

  &--1 {
    flex: 0 0 8.3333%;
    max-width: 8.3333%;
  }

  &--2 {
    flex: 0 0 16.6667%;
    max-width: 16.6667%;
  }

  &--3 {
    flex: 0 0 25%;
    max-width: 25%;
  }

  &--4 {
    flex: 0 0 33.3333%;
    max-width: 33.3333%;
  }

  &--5 {
    flex: 0 0 41.6667%;
    max-width: 41.6667%;
  }

  &--6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  &--7 {
    flex: 0 0 58.3333%;
    max-width: 58.3333%;
  }

  &--8 {
    flex: 0 0 66.6667%;
    max-width: 66.6667%;
  }

  &--9 {
    flex: 0 0 75%;
    max-width: 75%;
  }

  &--10 {
    flex: 0 0 83.3333%;
    max-width: 83.3333%;
  }

  &--11 {
    flex: 0 0 91.6667%;
    max-width: 91.6667%;
  }

  &--12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  &--5p {
    flex: 0 0 5%;
    max-width: 5%;
  }

  &--10p {
    flex: 0 0 10%;
    max-width: 10%;
  }

  &--15p {
    flex: 0 0 15%;
    max-width: 15%;
  }

  &--20p {
    flex: 0 0 20%;
    max-width: 20%;
  }

  &--25p {
    flex: 0 0 25%;
    max-width: 25%;
  }

  &--30p {
    flex: 0 0 30%;
    max-width: 30%;
  }

  &--35p {
    flex: 0 0 35%;
    max-width: 35%;
  }

  &--40p {
    flex: 0 0 40%;
    max-width: 40%;
  }

  &--45p {
    flex: 0 0 45%;
    max-width: 45%;
  }

  &--50p {
    flex: 0 0 50%;
    max-width: 50%;
  }

  &--55p {
    flex: 0 0 55%;
    max-width: 55%;
  }

  &--60p {
    flex: 0 0 60%;
    max-width: 60%;
  }

  &--65p {
    flex: 0 0 65%;
    max-width: 65%;
  }

  &--70p {
    flex: 0 0 70%;
    max-width: 70%;
  }

  &--75p {
    flex: 0 0 75%;
    max-width: 75%;
  }

  &--80p {
    flex: 0 0 80%;
    max-width: 80%;
  }

  &--85p {
    flex: 0 0 85%;
    max-width: 85%;
  }

  &--90p {
    flex: 0 0 90%;
    max-width: 90%;
  }

  &--95p {
    flex: 0 0 95%;
    max-width: 95%;
  }

  &--100p {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@include adapt(flex) {
  @include flex()

  &__item {
    @include flex__item()
  }
}
