/* variables defaults */

/* variables project */

/* defaults */
.menu {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  &__item {
    display: block;
  }

  &__link {
    display: block;
    padding: 0.5rem;
    text-decoration: none;

    .active>& {
      font-weight: bold;
    }
  }

  &--fluid {
    .menu {
      &__list {
        display: flex;
        flex-wrap: wrap;
      }

      &__item {
        flex-grow: 1;
      }

      &__link {
        text-align: center;
      }
    }
  }

  &--left {
    .menu {
      &__list {
        display: flex;
        flex-wrap: wrap;
      }
    }
  }

  &--center {
    .menu {
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }

  &--right {
    .menu {
      &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
      }
    }
  }
}

/* project */
.menu {
  
}
