mixin menu(...items)
  nav.menu&attributes(attributes)
    ul.menu__list
      li.menu__item.active #[a.menu__link(href="/index.html") Главная]
      each item in items
        li.menu__item #[a.menu__link(href=item.href)= item.name]
