//- blocks includes
include /article/article.pug
include /bread/bread.pug
include /caption/caption.pug
include /card/card.pug
include /flex/flex.pug
include /form/form.pug
include /icon/icon.pug
include /menu/menu.pug
include /page/page.pug
include /pag/pag.pug
include /pic/pic.pug
include /song/song.pug
include /swiper/swiper.pug

//- global mixins
mixin head(title)
  html(lang="ru")
    head
      title= title
      meta(name="description1", content="description")
      meta(charset="utf-8")
      meta(http-equiv="x-ua-compatible", content="ie=edge")
      meta(name="viewport", content="width=device-width, initial-scale=1")
      //- link(rel="apple-touch-icon", href="icon.png")
      link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700,700i&amp;subset=cyrillic")
    body.drawer.drawer--left.page(class="page--"+title)
      block

//- project mixins
