.form {

}

.form-group {
  position: relative;
  margin: 1rem auto;
  max-width: 30rem;
  display: flex;
  flex-direction: column;

  input,
  textarea {
    padding: 0.25rem;
    color: $main-c;

    &+label {
      order: -1;
      font-size: 0.75em;
      margin: 0 0 0 0.25rem;
    }
  }

  textarea {
    min-height: 10rem;
  }
}
