mixin form
  form.form
    .form-group
      h2 Отправка заявки
    .form-group.required
      input#input-1(type="text", placeholder="Ваше имя", required)
      label(for="input-1") Ваше имя
    .form-group.required
      input#input-2(type="email", placeholder="E-mail", required)
      label(for="input-2") E-mail
    .form-group.required
      input#input-3(type="text", placeholder="Желаемая должность", required)
      label(for="input-3") Желаемая должность
    .form-group.required
      textarea#input-4(required)
      label(for="input-4") Опыт работы и дополнительная информация
    .form-group
      button.button(type="submit") Отправить
      p.text-0_75.text-center Нажимая кнопку "Отправить" вы даете согласие на обработку пресональных данных в соответствии с условиями.
